{% extends "base.html" %}

<body>
  {% block content %}
  <style>
    .deposit {
      width: 90vh;
      height: 90vh;
    }
    .deposit .account-info {
      margin-top: 100px;
    }
  </style>
  <div class="container deposit">
    <div class="account-info">
      <div class="account-balance">
        <div class="account-information">
          <h2>{{user.first_name}} {{user.last_name}}</h2>
          <img src="{{user.main_image.url}}" />
        </div>
        <div class="account-balance-account">
          <h1>Account Balance</h1>
          <h3>${{user.amount}}</h3>
        </div>
        <div class="deposit-request">
          <div class="form-group">
            <input type="number" placeholder="deposit amount" />
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</body>
