{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
    {% block content %}
    <section id="register">
        <div class="container">
            <div class="top">
                <i class="fas fa-user-plus fa-2x"></i>
                <h1>
                    Registration</h1>
            </div>
            <div class="register-area">
                <div class="form-input">
                    {% include "_alerts.html" %}
                    <form autocomplete="off" action="{% url 'register' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="div-1">
                            <label for="name">First name</label>
                            <input type="name" placeholder="your fisrt name" name="first_name" id="fname" required>

                            <label for="last name">Last name</label>
                            <input type="name" placeholder="your last name" name="last_name" id="lname" required>
                        </div>
                        <style>

                        </style>
                        <div class="div-1">
                            <label for="password">Password</label>
                            <div class="pass-div">
                                <input type="password" autocomplete='false' placeholder="Password" name="password" id="password" required>
                                <i id="show-password" class="fas fa-eye  pass-icon show-password"></i>
                                <i id="hide-password" class="fas fa-eye-slash   pass-icon hide-icon"></i>
                            </div>
                            <label for="password2">Confirm Password</label>
                            <div class="pass-div">
                                <input type="password" placeholder="Confirm Password" name="password2" id="password2" required>
                                <i id="show-password2" class="fas fa-eye pass-icon show-icon"></i>
                                <i id="hide-password2" class="fas fa-eye-slash pass-icon hide-icon"></i>
                            </div>
                        </div>
                        <div class="div-1">
                            <label for="email">Email Address</label>
                            <input type="email" placeholder="Your email address" name="email" id="email" required>
                        </div>
                        <div class="div-1">
                            <label for="Phone">Phone no.</label>
                            <input type="text" placeholder="Example:+9647xx-xxx-xxxx" name="tel" id="phone" required>
                        </div>
                        <div class="div-1">
                            <label for="birthdate">Birthday</label>
                            <input type="date" name="Birthday" id="birthday">
                        </div>
                        <br>
                        <div class="div-1 file">
                            <label class="label-file uploader">
                                <input type="file" name="picture">
                                <span class="icon">
                                    <svg viewBox="0 0 512 512" width="24" title="upload">
                                        <path d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z" />
                                    </svg>
                                </span>
                                <span class="placeholder">Your picture</span>
                            </label>
                        </div>

                        <div class="terms">
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox" name="" value="">
                                <label for="checkbox"><span>I accept the <a href="#">the terms and agreements</a></span></label>
                            </div>
                        </div>
                        <small class="text-muted small-text">
                            Already Have An Account? <a href="login.html">Sign In</a>
                        </small>
                        <div class="submit-form">
                            <button type="submit">SIGN UP</button>
                        </div>
                </div>
                </form>
                <div class="conditions">
                    <h1>Requirments & rules</h1>
                    <ul>
                        <li>The loaner person must be verified himself/herself, presenting a valid governmental document such as national ID or passport, phone number, email and a valid address.</li>
                        <li>A permanent wallet address must be provided which is Unchangeable till the end of each contract.</li>
                        <li>The interest rate that you agree to when opening your loan will not change as long as that loan remains open. The rate presented to you on the confirmation screen is a fixed monthly percentage rate (APR). This is the fixed yearly
                            interest rate applied to the loan that you have received.</li>
                        <li>In case of termination before the end of period any type of contracts, when you close out your loan all interest amounts will be deducted from total loaner’s deposit.</li>
                    </ul>
                </div>
            </div>

        </div>
        </div>
    </section>
    
    {% include "js_register.html" %} {% endblock content %}
</body>

</html>