{% extends "base_ku.html" %} {% load static %}
<body>
  {% block content %}
  <section id="user_dashboard">
    <div class="container">
      {% include "_alerts.html" %}
      <div class="account-info">
        <div class="account-balance">
          <div class="account-information">
            <h2>{{user.first_name}} {{user.last_name}}</h2>
            <img id="user-pic" src="{{user.main_image.url}}" />
          </div>
          <div class="account-balance-account">
            <h1 align="center">بالانسی هەژمار</h1>
            <h3>${{user.amount}}</h3>
          </div>
        </div>
        <div class="user-options">
          <div class="container">
            <h3 class="m-top-30 text--center">مامەڵەکانم</h3>
            {% if trans_query %}
            <ul class="trans-list">
              {% for tran in trans_query %}
              <li>
                {{tran.transaction_type}}......${{tran.transaction_amount}}......{{tran.transaction_date}}
              </li>
              {% endfor %} {% else %}
              <p>‌هیج ماماڵەیەکت نییە</p>
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- <div class="calculator m-top-30 p-40">
        <h1 class="m-bottom-30">Investment Calculator</h1>
        <label class="p-left-10" for="plan">Amount</label>
        <input type="text" placeholder="Amount $" />
        <div class="plan-select">
          <label class="m-right-20" for="plan">Plan</label>
          <div class="select m-bottom-30">
            <select name="slct" id="slct">
              <option selected disabled>Choose a Plan</option>
              <option value="basic">Basic</option>
              <option value="standard">Standard</option>
              <option value="gold">Gold</option>
              <option value="diamond">Diamond</option>
            </select>
          </div>
        </div>
        <label class="p-left-10" for="plan">Period of the investment</label>
        <div class="invest-year">
          <input type="text" placeholder="No. of Years to Invest" />
          <div class="select m-bottom-30">
            <select name="slct" id="slct">
              <option value="basic">month</option>
              <option value="standard">year</option>
            </select>
          </div>
        </div>
        <button class="btn btn-submit btn--primary m-top-30" type="submit">
          calculate
        </button>
      </div> -->
      <div class="options-btn mt-20 mb-20">
        <a class="btn btn--primary" href="{% url 'withdrawlKu' %}"
          >راکێشانی پارە</a
        >
      </div>
    </div>
  </section>
  <style>
    #user_dashboard {
      height: 100vh;
    }
    footer {
      bottom: 0;
    }
    @media screen and (max-width: 450px) {
      footer {
        bottom: 30px;
      }
    }
  </style>
  <!-- <script src="{% static 'assets/js/invs_calc.js' %}"></script> -->
  {% endblock content %}
</body>
