{% extends "base.html" %}
<body>
  {% block content %}
  <style>
    .deposit {
      width: 90vh;
      height: 90vh;
    }
    .deposit .account-info {
      margin-top: 100px;
    }
  </style>
  <div class="container deposit">
    <div class="account-info">
      <div class="account-balance">
        <div class="account-information">
          <h2>{{user.first_name}} {{user.last_name}}</h2>
          <img src="{{user.main_image.url}}" />
        </div>
        <div class="account-balance-account">
          <h1>Account Balance</h1>
          <h3>${{user.amount}}</h3>
        </div>
        <form action="" method="post">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input
              type="text"
              class="form-control"
              aria-label="Amount (to the nearest dollar)"
            />
            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
          </div>
          <button type="submit">Request</button>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}
</body>
